  <div class="field">
    <label class="label">Slug</label>
    <div class="control">
      <input id="blog_slug" class="input" type="text" placeholder="Text input">
    </div>
  </div>
  <div class="field">
    <label class="label">Title</label>
    <div class="control">
      <input id="blog_title" class="input" type="text" placeholder="Text input">
    </div>
  </div>
  <div class="field">
    <label class="label">Author</label>
    <div class="control">
      <input id="blog_author" class="input" type="text" placeholder="Text input">
    </div>
  </div>
  <div class="field">
    <label class="label">Published Date</label>
    <div class="control">
      <input id="blog_published_date" class="input" type="date">
    </div>
  </div>
  
  <div class="field">
    <label class="label">Content</label>
    <div class="control">
      <textarea id="blog_content" class="textarea" placeholder="Textarea"></textarea>
    </div>
  </div>