{% extends 'base.html' %}

{% block title %}
My index title
{% endblock title %}

{% block content %}
<div id=facebook-posts>
    <div class='hex-button'>
        <h3 id="btn">Recent Posts</h3>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    const button = document.querySelector('.hex-button');


    button.addEventListener('click', (event) => {
        const hexColor = '#' + Math.floor(Math.random() * 16777215).toString(16);
        event.target.innerHTML = hexColor;

        const background = document.querySelector('body');
        background.style.backgroundColor = hexColor;
    })</script>

<script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
<script type="text/javascript">
    //AJAX REQUEST TO BACK END
    const xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
        console.log('running');
        if (this.readyState == 4 && this.status == 200) {
            const fbdiv = document.getElementById("facebook-posts");
            const data = JSON.parse(this.responseText);
            const posts = data['posts']['data'];
            for (post of posts) {
                if (post['message'] !== undefined) {
                    console.log(post['message']);
                    postelem = document.createElement("div");
                    postelem.textContent = post['message'];
                    fbdiv.appendChild(postelem);
                }
            }
        }
    };
    xhttp.open("GET", `${hostUrl}api/facebook/getposts`, true);
    xhttp.setRequestHeader("Content-Type", "application/json");
    xhttp.send();
</script>
{% endblock scripts %}
/